.header{
		position:absolute;
		z-index:1;
   
	.navbar{
		background-color: transparent;
		border: 0;
		border-radius: 0;
		 margin-bottom: 0;

		 .navbar-brand{
		 	 top: 0;
   			left: 0;
   			position: absolute;
   			z-index:1;
		 }

		 ul{
		 	li{
		 		&.active{
		 			a{
		 				@extend %link;
		 				}
		 				&:focus{
		 					@extend %link;
		 				}	
		 			}
		 				
		 			}
		 		a{
		 			@extend %link;
		 			

		 			&:hover{
		 				@extend %link;
		 			}
		 		}
		 	}
		 }

	}

